<div class="form-container">
    <div class="card" *ngIf="step === 'request'">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="infoMessage" class="info-message">{{ infoMessage }}</div>
      <h2>Forgot Password</h2>
      <input [(ngModel)]="email" type="email" placeholder="Enter your email" class="input" />
      <button class="btn" (click)="requestResetCode()">Send Code</button>
    </div>
  
    <div class="card" *ngIf="step === 'confirm'">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="infoMessage" class="info-message">{{ infoMessage }}</div>
      <h2>Reset Password</h2>
      <input [(ngModel)]="code" placeholder="Confirmation Code" class="input" />
      <input [(ngModel)]="newPassword" type="password" placeholder="New Password" class="input" />
      <button class="btn" (click)="confirmPasswordReset()">Confirm</button>
    </div>
  </div>
  